
.DS_Store
teaching/.DS_Store
.DS_Store
.DS_Store
teaching/.DS_Store
# Jekyll folders and files
_site/         # Exclude the compiled Jekyll site (output directory)
.jekyll-cache/ # Exclude Jekyll cache for performance optimization

# Dependency directories and files
.bundle/       # Exclude Bundler configuration files
vendor/        # Exclude vendor dependencies installed by Bundler
Gemfile.lock   # Optional: Exclude if you don’t want to track exact gem versions

# OS and editor-specific files
.DS_Store      # macOS file for folder settings
Thumbs.db      # Windows file for folder settings

_sass/
_includes/
.docs/
script

_site/code.html
_site/cv.pdf
_site/damek.jpg
_site/Gifslow.gif
_site/ICCOPT2019.pdf
_site/ICCOPT2019.txt
_site/index_old.html
_site/index.html
_site/index.txt
_site/INFORMS_Presentation_Final.pdf
_site/jekyll-theme-minimal.gemspec
_site/jemdoc.css
_site/Menu.html
_site/NonsmoothStatisticalAssumptions.pdf
_site/NonsmoothStatisticalAssumptionsAbstract.txt
_site/orie6300.html
_site/orie6340.html
_site/orie63002016.html
_site/OStoday0515.pdf
_site/OWLBall.html
_site/OWOSNov2021.pdf
_site/publications.html
_site/ThreeOperators.html
_site/ViewsAndNews-28-1.pdf
_site/assets/css/style.css
_site/assets/css/style.css.map
_site/assets/fonts/Noto-Sans-700/Noto-Sans-700.eot
_site/assets/fonts/Noto-Sans-700/Noto-Sans-700.svg
_site/assets/fonts/Noto-Sans-700/Noto-Sans-700.ttf
_site/assets/fonts/Noto-Sans-700/Noto-Sans-700.woff
_site/assets/fonts/Noto-Sans-700/Noto-Sans-700.woff2
_site/assets/fonts/Noto-Sans-700italic/Noto-Sans-700italic.eot
_site/assets/fonts/Noto-Sans-700italic/Noto-Sans-700italic.svg
_site/assets/fonts/Noto-Sans-700italic/Noto-Sans-700italic.ttf
_site/assets/fonts/Noto-Sans-700italic/Noto-Sans-700italic.woff
_site/assets/fonts/Noto-Sans-700italic/Noto-Sans-700italic.woff2
_site/assets/fonts/Noto-Sans-italic/Noto-Sans-italic.eot
_site/assets/fonts/Noto-Sans-italic/Noto-Sans-italic.svg
_site/assets/fonts/Noto-Sans-italic/Noto-Sans-italic.ttf
_site/assets/fonts/Noto-Sans-italic/Noto-Sans-italic.woff
_site/assets/fonts/Noto-Sans-italic/Noto-Sans-italic.woff2
_site/assets/fonts/Noto-Sans-regular/Noto-Sans-regular.eot
_site/assets/fonts/Noto-Sans-regular/Noto-Sans-regular.svg
_site/assets/fonts/Noto-Sans-regular/Noto-Sans-regular.ttf
_site/assets/fonts/Noto-Sans-regular/Noto-Sans-regular.woff
_site/assets/fonts/Noto-Sans-regular/Noto-Sans-regular.woff2
_site/assets/img/logo.png
_site/assets/js/scale.fix.js
_site/docs/CODE_OF_CONDUCT.md
_site/docs/CONTRIBUTING.md
_site/docs/SUPPORT.md
_site/images/picture.jpg
_site/teaching/orie6300/demo.m
_site/teaching/orie6300/lec01.pdf
_site/teaching/orie6300/lec02.pdf
_site/teaching/orie6300/lec03.pdf
_site/teaching/orie6300/lec04.pdf
_site/teaching/orie6300/lec05.pdf
_site/teaching/orie6300/lec06.pdf
_site/teaching/orie6300/lec07.pdf
_site/teaching/orie6300/lec08.pdf
_site/teaching/orie6300/lec09.pdf
_site/teaching/orie6300/lec10.pdf
_site/teaching/orie6300/lec11.pdf
_site/teaching/orie6300/lec12.pdf
_site/teaching/orie6300/lec13.pdf
_site/teaching/orie6300/lec14.pdf
_site/teaching/orie6300/lec15.pdf
_site/teaching/orie6300/lec16.pdf
_site/teaching/orie6300/lec17.pdf
_site/teaching/orie6300/lec18.pdf
_site/teaching/orie6300/lec19.pdf
_site/teaching/orie6300/lec20.pdf
_site/teaching/orie6300/lec21.pdf
_site/teaching/orie6300/lec22.pdf
_site/teaching/orie6300/lec23.pdf
_site/teaching/orie6300/lec24.pdf
_site/teaching/orie6300/lec25.pdf
_site/teaching/orie6300/lec26.pdf
_site/teaching/orie6300/ORIE6300Fall2019Homework.pdf
_site/teaching/orie6300/ORIE6300Fall2019Homework.tex
_site/teaching/orie6300/ORIE6300Fall2019notes.pdf
_site/teaching/orie6300/ORIE6300Fall2019Recitations.pdf
_site/teaching/orie6300/ORIE6300Fall2023notes.pdf
_site/teaching/orie6300/orie6300Recitations.pdf
_site/teaching/orie6300/preamble.tex
_site/teaching/orie6300/ps1.pdf
_site/teaching/orie6300/ps1.tex
_site/teaching/orie6300/ps2.pdf
_site/teaching/orie6300/ps2.tex
_site/teaching/orie6300/ps3.pdf
_site/teaching/orie6300/ps3.tex
_site/teaching/orie6300/ps4.pdf
_site/teaching/orie6300/ps4.tex
_site/teaching/orie6300/ps5.pdf
_site/teaching/orie6300/ps5.tex
_site/teaching/orie6300/ps6.pdf
_site/teaching/orie6300/ps6.tex
_site/teaching/orie6300/ps7.pdf
_site/teaching/orie6300/ps7.tex
_site/teaching/orie6300/ps8.pdf
_site/teaching/orie6300/ps8.tex
_site/teaching/orie6300/ps9.pdf
_site/teaching/orie6300/ps9.tex
_site/teaching/orie6300/ps10.pdf
_site/teaching/orie6300/ps10.tex
_site/teaching/orie6300/r1.pdf
_site/teaching/orie6300/Rec1.pdf
_site/teaching/orie6300/Rec2.pdf
_site/teaching/orie6300/Rec2.tex
_site/teaching/orie6300/Rec3.pdf
_site/teaching/orie6300/Rec4.pdf
_site/teaching/orie6300/Rec5.pdf
_site/teaching/orie6300/Rec6.pdf
_site/teaching/orie6300/Rec7.pdf
_site/teaching/orie6300/Rec8.pdf
_site/teaching/orie6300/Rec9.pdf
_site/teaching/orie6300/Rec11.pdf
_site/teaching/orie6300/Rec12.pdf
_site/teaching/orie6300/Recitation 3.pdf
assets/css/style.scss
assets/fonts/Noto-Sans-700/Noto-Sans-700.eot
assets/fonts/Noto-Sans-700/Noto-Sans-700.svg
assets/fonts/Noto-Sans-700/Noto-Sans-700.ttf
assets/fonts/Noto-Sans-700/Noto-Sans-700.woff
assets/fonts/Noto-Sans-700/Noto-Sans-700.woff2
assets/fonts/Noto-Sans-700italic/Noto-Sans-700italic.eot
assets/fonts/Noto-Sans-700italic/Noto-Sans-700italic.svg
assets/fonts/Noto-Sans-700italic/Noto-Sans-700italic.ttf
assets/fonts/Noto-Sans-700italic/Noto-Sans-700italic.woff
assets/fonts/Noto-Sans-700italic/Noto-Sans-700italic.woff2
assets/fonts/Noto-Sans-italic/Noto-Sans-italic.eot
assets/fonts/Noto-Sans-italic/Noto-Sans-italic.svg
assets/fonts/Noto-Sans-italic/Noto-Sans-italic.ttf
assets/fonts/Noto-Sans-italic/Noto-Sans-italic.woff
assets/fonts/Noto-Sans-italic/Noto-Sans-italic.woff2
assets/fonts/Noto-Sans-regular/Noto-Sans-regular.eot
assets/fonts/Noto-Sans-regular/Noto-Sans-regular.svg
assets/fonts/Noto-Sans-regular/Noto-Sans-regular.ttf
assets/fonts/Noto-Sans-regular/Noto-Sans-regular.woff
assets/fonts/Noto-Sans-regular/Noto-Sans-regular.woff2
assets/img/logo.png
assets/js/scale.fix.js
docs/CODE_OF_CONDUCT.md
docs/CONTRIBUTING.md
docs/SUPPORT.md
index_old.html
index.txt
jekyll-theme-minimal.gemspec
jemdoc.css
Menu.html
NonsmoothStatisticalAssumptionsAbstract.txt
