<header class="rand-header">
  <div class="rand-inner">
    <!-- first line: site navigation -->
    <nav class="rand-links">
      <a href="{{ '/random/' | relative_url }}">Index</a> |
      <a href="{{ '/random/all/' | relative_url }}">View&nbsp;all</a> |
      <a href="{{ '/random/pick/' | relative_url }}">Random&nbsp;pick</a> |
      <a href="{{ '/random/tags/' | relative_url }}">Tags</a>
      <span class="rand-right">
          <a href="{{ '/'| relative_url }}">Damek Davis</a>
      </span>
    </nav>

    <!-- second line: prev / next (only on individual notes) -->
    {% if page.collection == 'random' %}
      {% include next-random.html %}
    {% endif %}
  </div>
</header>
